.itemx-wrapper {
	position: relative;
	overflow: hidden;
	/* Change this to manipulate itemx-size */
	height: 200px;				
	text-align: justify;
}
.itemx-wrapper:after { 
	content:"";
	display: inline-block;
	width: 100%;
	height: 0;
}

.itemx {
	position: relative;
	display: inline-block;
	height: 100%;
	width: auto;
	border: 2px solid #fff;
}

.itemx img {
	height: 100%;
	width: auto;
}

.containerx{
    min-width: 1400px;
}

/* Just because ;) */
@media (max-width: 768px) {
	.itemx-wrapper {
		height: 140px;
	}
}