.itemx-wrapper {
	position: relative;
	overflow: hidden;
	/* Change this to manipulate itemx-size */
	height: 200px;				
	text-align: justify;
}
.itemx-wrapper:after { 
	content:"";
	display: inline-block;
	width: 100%;
	height: 0;
}

.itemx {
	position: relative;
	display: inline-block;
	height: 100%;
	width: auto;
	border: 2px solid #fff;
}

.itemx img {
	height: 100%;
	width: auto;
}

.containerx{
    min-width: 1300px;
}

.publisher-icon{
    width: 50px;
    height: 50px;
    align-items: center;
    border-radius: 25px;
    background: #f7f7f7 none repeat scroll 0 0;
    box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.07);
    color: #333;
    cursor: pointer;
    font-size: 24px;
    height: 40px;
    line-height: 38px;
    text-align: center;
}

footer{
    margin: 0px;
}
footer, .h6 , .dark-grey-text{
    color: black;
}

#map {
    height: 150px;
    width: 319px;
   }
.read_little{
    cursor: pointer;
}
.siteLogo{
    height: 80%;
}

/* End carousel */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/*================================================*/
@import url('https://fonts.googleapis.com/css?family=Roboto');


/* Bootstrap Lightbox using Modal */

#profile-grid { overflow: auto; white-space: normal; } 
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}


.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  .sc-bdVaJa{
      width: 80%;
      margin-left: 20px;
  }


.sliderBtn{
  background: black;
  padding: 10px;
  border-radius: 100%;
}
.search-btn{
    width: 13%;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 34px;
    height: 35px;
    position: relative;
    top: 9px;
    background-color: #C67935;
}


.col-sub p{
    font-size: 20px;
    color: black;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.nav-category .navbar-nav .nav-link {
    font-size: 16px;
    color: black;
}

.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item .nav-link:active,
.navbar-light .nav-item .nav-link:focus,
.navbar-light .nav-item:hover .nav-link {
    color: #fff;
    background-color: #C67935;
}

.writer-img{
    height: 208px;
    width: 172px;
}

.slick-list{
    /* width: 1261px !important; */
} 

.c-black{
    color: black;
}

.subs-input{
    height: 55px;
    outline: none;
    border: none;
    border-radius: 40px;
    text-align: center;
    z-index: 10;
}
.male-btn{
    margin-right: 10px;
    background: #00AEEF;
    font-size: 18px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    right: 10px;
    cursor: pointer;
}
.female-btn{
    margin-right: 10px;
    background: #00A54F;
    font-size: 18px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    right: 10px;
    cursor: pointer;
}
.service-text{
    color: #EE1D23;
    font-size: 18px;
    font-weight: bold;
}
.recent-img{
    padding: 10px;

    padding-top: 30px;
    padding-bottom: 30px;
}
.payment-img{
    height: 80px;
    width: 100px;
    margin-top: 5px;
}
.payment-box{
    height: 100px;
    background-color: #fff;
    width: 120px;
    margin-right: 26px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid #838384;
}
.payment-text{
    color: black;
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
}
.ad-banner{
    width: 365px; 
    margin-right: 25px;
}