.itemx-wrapper {
	position: relative;
	overflow: hidden;
	/* Change this to manipulate itemx-size */
	height: 200px;				
	text-align: justify;
}
.itemx-wrapper:after { 
	content:"";
	display: inline-block;
	width: 100%;
	height: 0;
}

.itemx {
	position: relative;
	display: inline-block;
	height: 100%;
	width: auto;
	border: 2px solid #fff;
}

.itemx img {
	height: 100%;
	width: auto;
}

.containerx{
    min-width: 1300px;
}

.publisher-icon{
    width: 50px;
    height: 50px;
    align-items: center;
    border-radius: 25px;
    background: #f7f7f7 none repeat scroll 0 0;
    box-shadow: 2px 5px 5px 0 rgba(0, 0, 0, 0.07);
    color: #333;
    cursor: pointer;
    font-size: 24px;
    height: 40px;
    line-height: 38px;
    text-align: center;
}

footer{
    background-color: black;
    width: 100%;
    margin: 0px;
}
footer, .h6 , .dark-grey-text{
    color: #fff;
}

#map {
    height: 150px;
    width: 319px;
   }
.read_little{
    cursor: pointer;
}
.siteLogo{
    height: 80%;
}

/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */


/* Just because ;) */
@media (max-width: 1300px) {
	.searchAll{
        display: none;
    }
}